body{
    background-color: #F7F8F9;
    /* display:flexbox;
    align-items: center;
    justify-content: center; */
   
}

.logoImage{
    display: block;
    width: 160px;
    margin: 20px auto;
}
.container{
    max-width: 500px;
    
}
p{
    font-size: 14px;
    color: rgb(117, 119, 120);
}